h1 {
  margin-bottom: 20px;
}

.ui-g {
  .listbox {
    max-width: 175px;
    p-listbox {
      text-transform: uppercase;
    }
    .director-btn {
      margin-top: 15px;
    }
    input {
      width: 100%;
    }
  }
  .gamedetail {
    padding-left: 25px;
    h3 span {
      text-transform: uppercase;
    }
    input.gamelist {
      width: 100%;
    }
  }
  p-inputswitch {
    display: inline-block;
    vertical-align: middle;
  }
  .slotTemp {
    p-button {
      margin-left: 10px;
    }
    textarea {
      width: 100%;
    }
  }
}
