<h1>拉霸機產生器</h1>
<div class="ui-g">
  <div class="ui-g-12 ui-md-3">
    <p-listbox [options]="clickList" [(ngModel)]="outputClick" multiple="multiple" checkbox="checkbox" optionLabel="name">
      <p-header>
        <i class="fa fa-gamepad"></i> 娛樂城
      </p-header>
    </p-listbox>
    <div>
      <h4>遊戲數量</h4>
      <p-spinner size="5" [(ngModel)]="gamelistnum"></p-spinner>
    </div>
    <div>
      <h4>圖片來源</h4>
      <input pInputText type="text" [(ngModel)]="imgPath" />
      <p-button class="director-btn" (onClick)="getDirector()" label="取圖片名稱"></p-button>
      <h4>輸出路徑</h4>
      <input pInputText type="text" [(ngModel)]="outPath" />
      <p-button class="director-btn" (onClick)="getDirector(true)" label="取圖片名稱+搬家"></p-button>
    </div>
  </div>
  <div class="ui-g-12 ui-md-5">
    <ol>
      <li class="gamedetail" *ngFor="let c of outputClick; let i = index" style="margin-bottom: 10px;">
        <h3>
          <span>{{ c.name }} </span>-
          <small>{{ c.defaultClick }}</small>
        </h3>
        <h4>遊戲名稱：</h4>
        <input type="text" class="gamelist" pInputText [(ngModel)]="c.gameList" />
        <div [hidden]="c.gameList===undefined">
          <label>click調整??</label>
          <p-inputSwitch onLabel="Yes" offLabel="No" (onChange)="customChange($event,i)" [(ngModel)]="c.custom" [disabled]="c.gameList===undefined"></p-inputSwitch>
          <input [hidden]="c.custom===false" type="text" class="gamelist" pInputText [(ngModel)]="c.customClick" />
        </div>
      </li>
    </ol>
  </div>
  <div class="ui-g-12 ui-md-4">
    <h3>要圖片div嗎?</h3>
    <p-inputSwitch [(ngModel)]="div"></p-inputSwitch>
    <h3>要文字P嗎?</h3>
    <p-inputSwitch [(ngModel)]="text"></p-inputSwitch>
    <div>
      <p-button (onClick)="clickFunction()" label="輸出"></p-button>
    </div>
    <h3 [hidden]="output==''">HTML</h3>
    <textarea [rows]="15" [cols]="50" pInputTextarea [(ngModel)]="output" [hidden]="output==''"></textarea>
    <h3 [hidden]="outputCss==''">CSS</h3>
    <textarea [rows]="15" [cols]="50" pInputTextarea [(ngModel)]="outputCss" [hidden]="outputCss==''"></textarea>
  </div>
</div>
