<h3 class="first">站代號</h3>
<input id="input" type="text" size="30" pInputText [(ngModel)]="site_name">

<h3 class="first">類型</h3>
<div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g-12">
        <p-radioButton name="group1" value="Portal" label="Portal" [(ngModel)]="site_type" inputId="opt1"></p-radioButton>
    </div>
    <div class="ui-g-12">
        <p-radioButton name="group1" value="Mobile" label="Mobile" [(ngModel)]="site_type" inputId="opt2"></p-radioButton>
    </div>
</div>
<p-button (onClick)="buttonClick('newProject')" label="建立新專案" [disabled]="status"></p-button>
<p-button (onClick)="buttonClick('generate')" label="建立網站檔案" [disabled]="!site_name||status"></p-button>
<p-button (onClick)="buttonClick('recover')" label="從 dist 覆蓋版控" [disabled]="!site_name||status"></p-button>
<p-button (onClick)="buttonClick('delete')" label="刪除網站檔案" [disabled]="status"></p-button>

<p-messages [(value)]="msgs"></p-messages>

<h3 class="first">刪除指定路徑</h3>
<input id="input" type="text" size="30" pInputText [(ngModel)]="path">
<p-button (onClick)="buttonClick('selectDelete')" label="刪除" [disabled]="!path||status"></p-button>