<h2>刪除</h2>
<div class="ui-g">
  <div class="ui-g-12">
    <p-radioButton name="group1" value="default" label="預設" [(ngModel)]="fileSetting.deleteType"></p-radioButton>
    <input id="disabled-input" type="text" size="30" pInputText [ngModel]="fileSetting.target" disabled />
  </div>
  <div class="ui-g-12">
    <p-radioButton name="group1" value="custom" label="自訂" [(ngModel)]="fileSetting.deleteType"></p-radioButton>
    <input id="input" type="text" size="30" pInputText [(ngModel)]="fileSetting.customPath">
  </div>
</div>
<h3>類型</h3>
<div class="ui-g" style="width:250px;margin-bottom:10px">
  <div class="ui-g-12">
    <p-radioButton name="group2" value="Portal" label="Portal" [(ngModel)]="fileSetting.site_type"></p-radioButton>
  </div>
  <div class="ui-g-12">
    <p-radioButton name="group2" value="Mobile" label="Mobile" [(ngModel)]="fileSetting.site_type"></p-radioButton>
  </div>
</div>
<p-button (onClick)="deletedFile()" label="刪除" [disabled]="fileSetting.deleteType=='custom'&&fileSetting.customPath==undefined"></p-button>
