<h2>刪除</h2>
<div class="ui-g">
    <div class="ui-g-12">
        <p-radioButton name="group1" value="defaule" label="預設" [(ngModel)]="pathType"></p-radioButton>
        <input id="disabled-input" type="text" size="30" pInputText [ngModel]="path" disabled />
    </div>
    <div class="ui-g-12">
        <p-radioButton name="group1" value="custom" label="自訂" [(ngModel)]="pathType"></p-radioButton>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="customPath">
    </div>
</div>